<h2>健康相談問診票</h2>



<td><%= @consultation.created_at %></td>
<td><%= @consultation.what_symptom %></td>
<td><%= @consultation.when_symptom %></td>
<td><%= @consultation.desease_treated %></td>
<td><%= @consultation.desease_name %></td>
<td><%= @consultation.specific_consultation %></td>

<%= link_to '医師とのチャットルームへ進む', room_path(@consultation), class:"btn btn-lg btn-danger" %>

<% if user_signed_in? %>
    <%= form_with model:@consultation do |f| %>
        <%= f.hidden_field :completed, :value => true %>
        <%= f.submit '健康相談完了', class: 'btn btn-lg btn-lg btn-danger' %>
    <% end %>
<% end %>
