<h2>登録医師一覧</h2>
<div class="d-flex align-items-center">
    <div class="ml-auto doctors_linkBox">
        <%= form_tag doctors_path, method: :get, class: 'doctors_searchForm' do %>
            <%= select_tag :tag_id,
                            options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                            {
                                prompt: '専攻で絞り込み',
                                class: 'form-control doctors_select',
                                onchange: 'submit(this.form);'
                            }
            %>
        <% end %>
    </div>
        <table class="table table-hover doctors__table">
            <thead class="thead-dark">
                <tr>
                    <th>医師名</th>
                    <th>性別</th>
                    <th>専攻</th>
                    <th>評価</th>
                </tr>
            </thead>
            <tbody>
                <tr><% @doctors.each do |doctor| %>
                        <td><%= doctor.name %></td>
                        <td><%= doctor.sex %></td>
                        <td><% doctor.tags.each do |tag| %>
                                <span class= "badge badge-primary"><%= tag.name %></span>
                            <% end %>
                        </td>
                        <td><% doctor.rates.each do |rate| %>
                                    <div id="star-rate-<%= rate.id %>"></div>
                                        <script>
                                            $('#star-rate-<%= rate.id %>').raty({
                                                size: 36,
                                                starOff:  '<%= asset_path('star-off.png') %>',
                                                starOn : '<%= asset_path('star-on.png') %>',
                                                starHalf: '<%= asset_path('star-half.png') %>',
                                                half: true,
                                                readOnly: true,
                                                score:  <%= rate.doctor_rate %>
                                                });
                                        </script>
                            <% end %>
                        </td>
                            <% if user_signed_in?%>
                                <td><%= link_to '健康相談問診票作成' , new_consultation_path(current_user,doctor_id:doctor.id), class: "btn btn-outline-dark" %></td>
                            <% end %>
                </tr>
            </tbody>
        </table>
        <%= paginate(@doctors) %>
        <% end %>
</div>