<h2>登録医師一覧</h2>
<div class="d-flex align-items-center">
    <table class="table table-hover doctors__table">
        <thead class="thead-dark">
            <tr>
                <th>医師名</th>
                <th>性別</th>
                <th>専攻分野</th>
            </tr>
        </thead>
        <tbody>
            <% if user_signed_in?%>
                <% @doctors.each do |doctor| %></tr>
                    <tr>
                        <td><%= doctor.name %></td>
                        <td><%= doctor.sex %></td>
                        <td><%= link_to '健康相談問診票作成' , new_consultation_path(current_user,doctor_id:doctor.id), class: "btn btn-outline-dark" %></td>
                    </tr>  
                <% end%>
            <% else %> 
                <% @doctors.each do |doctor| %></tr>
                    <tr>
                        <td><%= doctor.name %></td>
                        <td><%= doctor.sex %></td>
                    </tr>
                <% end %>
            <% end %>    
        </tbody>
    </table>
    <%= paginate(@doctors) %>
</div>