<div class="row">
    <aside class="col-md-4">
        <section class="doctor_info">


            <p>名前：<%= @doctor.name %></p>
            <p>性別：<%= @doctor.sex %></p>
            <p>生年月日：<%= @doctor.birth_date %></p>
            <p>Eメール：<%= @doctor.email %></p>

            <%= link_to '医師情報編集' , edit_doctor_registration_path, class: "btn btn-lg btn-secondary" %>

            <%= link_to '健康相談に回答する' , '#', class: "btn btn-lg btn-success" %>

        </section>
    </aside>

    <div class="card col-md-8 mx-auto mt-5">

        <h2 class="text-center mt-1 mb-4">医師登録情報</h2>
        <div class="card-body">
            <table class="table table-hover doctor_information_table">
                <thead>
                    <tr>
                        <td>勤務病院</td>
                        <td>専門</td>
                        <td>経歴</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= @doctor_information.hospital %></td>
                        <td><%= @doctor_information.specialty %></td>
                        <td><%= @doctor_information.career %></td>
                    </tr>
                </tbody>
            </table>

            <%= link_to '医師情報変更', edit_doctor_information_path(current_doctor),class:"btn btn-lg btn-success" %>
        </div>
    </div>
</div>
</div>