<h1>チャットフォーム</h1>
<% if user_signed_in? %>
<div class="chat-field">
    <% @room_messages.each do |m| %>
    <% if m.user_id %>
    <div class="right-message">
        <%= m.message_content %>
    </div>
    <% else %>
    <div class="left-message">
        <%= m.message_content %>
    </div>
    <% end %>
    <% end %>
</div>
<% elsif doctor_signed_in?%>
<div class="chat-field">
    <% @room_messages.each do |m| %>
    <% if m.doctor_id %>
    <div class="left-message">
        <%= m.message_content %>
    </div>
    <% else %>
    <div class="right-message">
        <%= m.message_content %>
    </div>
    <% end %>
    <% end %>
</div>
<% end %>

<%= form_for [@room, @room_message] do |f| %>
<%= f.text_field :message_content %>
<%= f.submit "メッセージを送る"%>
<% end %>

<%= link_to '健康相談を終了する', new_rate_path, class:"btn btn-lg btn-danger" %>