<div class="card col-sm-6 mx-auto mt-5">
    <div class="card-body">
        <p>この度は本アプリの健康相談をご利用頂きありがとうございました。</p>
        <p>今回担当させて頂いた担当医師はいかがでしたか？</p>
        <p>今回の健康相談における担当医師の対応について評価をお願い致します。</p>

        <%= form_with model:@rate do |f| %>
        
        <div class="form-group row" id="star">
            <%= f.label :doctor_rate,'評価', class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :doctor_rate, id: :review_star %>
            <%# <%= f.hidden_field :user_id, id: current_user.id %> 
            <%# <%= f.hidden_field :doctor_id, id: %> 
        </div>


        <script>
            $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'rate[doctor_rate]',
            half: true,
            });
        </script>  
        
        <%= f.submit '評価を確定する', class: 'btn btn-primary' %>

        <% end %>
    </div>
</div>