<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-warning border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">医れーしょん</h5>
        <nav class="my-2 my-md-0 mr-md-3">

            <%=link_to '登録医師一覧' , doctors_path ,class: "p-2 text-dark"%>
            <%=link_to 'ヘルプ' , '/user_top/help',class: "p-2 text-dark" %>

            <% if user_signed_in? %>
            <%= link_to current_user.name, user_path(current_user) ,class: "p-2 text-dark" %>
            <%=link_to 'ログアウト', destroy_user_session_path, method: :delete , class: "p-2 text-dark"%>
            <% else %>
            <%=link_to 'ログイン', new_user_session_path ,class: "p-2 text-dark" %>
            <% end %>

            <% if doctor_signed_in? %>
            <%= link_to current_doctor.name, doctor_path(current_doctor) ,class: "p-2 text-dark" %>
            <%=link_to '医師ログアウト', destroy_user_session_path, method: :delete , class: "p-2 text-dark"%>
            <% else %>
            <%=link_to '医師ログイン', new_doctor_session_path ,class: "p-2 text-dark" %>
            <% end %>



            <% if %w[root new_user_session new_user_registration].any? { |name| current_page?(send("#{name}_path")) } %>
            <%=link_to '医師の方', new_doctor_session_path, class: "btn btn-lg btn-danger" %>
            <% else %>
            <%=link_to '一般の方', new_user_session_path, class: "btn btn-lg btn-success" %>
            <% end %>

        </nav>
    </div>

</header>